<%- include("partials/header"); -%>
<div class="content-wrapper">
  <section class="section-maincard">
    <div class="title__wrapper">
      <h1 class="title__title">Kitchen Calc</h1>
      <h2 class="h2--white">No more mental kitchen math!</h2>
    </div>
    <div class="card-padding">
      <p class="intro--math">Kitchen Calc is a handy ingredients list multiplier.</p>
      <div class="howitworks">
        <h2 class="howitworks__title">How It Works</h2>
        <p class="howitworks__text">Copy & paste a recipe URL, input your desired servings and press convert. It's that easy!</p>
      </div>
      <div class="section-form">
        <h2 class="form__title">Let's Cook!</h2>
        <form action="/" method="POST" class="form-container">
          <div class="form-align">
            <div class="form-item">
              <label for="url">Recipe URL: </label>
              <span class="linebreak">
                <input
                type="text"
                id="url"
                name="url"
                size="25"
                placeholder="https://www.example.com"
                pattern="?:^www\..*|?:^http."
                oninvalid="setCustomValidity('Please make sure your URL starts with http, https, or www')"
                value = "<%= url %>"
                required
                autofocus
              />
            </span>
            </div>
            <br />
            <div class="form-item">
              <label for="servingsOld">Original servings?</label>
              <span class="linebreak">
                <input type="number" id="servingsOld" name="servingsOld" required class="input-number" value="<%= servingsOld %>" />
              </span>
            </div>
            <br />
            <div class="form-item">
              <label for="servingsNew">Desired servings?</label>
              <span class="linebreak">
                <input type="number" id="servingsNew" name="servingsNew" required class="input-number" value="<%= servingsNew %>" />
              </span>
            </div>
          </div>
          <button type="submit" class="btn btn--adjust">Convert!</button>
        </form>
      </div>

      <div class="flex-container">
        <div class="results__container results__container--old">
          <h3 class="results__title">Old Ingredients</h3>
          <div class="results__listwrapper">
            <% if(servingsOld) { %>
            <p class="results__servings"><em>Original servings: <%= servingsOld %></em></p>
            <% } %>
            <ul class="results__list results__list--old">
              <!-- insert forEach here with the array passed-->
              <% if(oldList && oldList.length) { %> <% oldList.forEach(function(element) { %>
              <li class="results__item"><%= element %></li>
              <% }) %> <% } %>
            </ul>
          </div>
        </div>

        <div class="results__container results__container--new">
          <h3 class="results__title">New Ingredients</h3>
          <div class="results__listwrapper">
            <% if(servingsNew) { %>
            <p class="results__servings"><em>New servings: <%= servingsNew %></em></p>
            <% } %>
            <ul class="results__list results__list--new">
              <!-- insert forEach here with the array passed-->
              <% if(newList && newList.length) { %> <% newList.forEach(function(element) { %>
              <li class="results__item"><%= element %></li>
              <% }); %> <% } %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<%- include("partials/footer"); -%>
