<%- include("partials/header"); -%>

<section class="section-results">
  <h1 class="results__h1">Ingredients</h1>
  
  <div class="flex-container">
    <div class="results__container results__container--old">
        <h2 class="results__title">Old List</h2>
      <ul class="results__list results__list--old">
        <!-- insert forEach here with the array passed-->
        <% oldList.forEach(function(element) { %>
        <li class="results__item"><%= element %></li>
        <% }); %>
      </ul>
      <!-- <p><%= oldList %></p> -->
    </div>

    <div class="results__container results__container--new">
        <h2 class="results__title">New List</h2>
        <ul class="results__list results__list--new">
        <!-- insert forEach here with the array passed-->
        <% newList.forEach(function(element) { %>
        <li class="results__item"><%= element %></li>
        <% }); %>
      </ul>
      <!-- <p><%= newList %></p> -->
    </div>
  </div>
</section>

<%- include("partials/footer"); -%>
